:root {
    --font-color: black;
    --body-color: #ffd;
    --link-color: #54749a;
    --link-visited-color: #7a49a5;
}

html {
    overflow-y: scroll
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 monospace;
    color: var(--font-color);
    background: var(--body-color);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

h1,h2,h3 {
    line-height:1.2
}

@media (prefers-color-scheme: dark) {
    body {
	color: var(--font-color);
	background: var(--body-color);
    }

    a:link {
	color: var(--link-color);
    }

    a:visited {
	color: var(--link-visited-color);
    }
}

p > code {
    color: var(--font-color);
    background: var(--body-color);
    padding:2px
}

pre {
    color: var(--font-color);
    background: var(--body-color);
    padding: 24px;
    white-space: pre-wrap
}

article {
    padding: 24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
