{{ define "main" }}

<main>
  <article>
    {{ if .Params.showtitle }}
    <div class="post-title">
      <h1>{{ .Title }}</h1>
    </div>
    {{ end }}

      {{ if .Params.showdate }}
      <div class="post-subtext">
	<time>
	  {{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}
	</time>
      </div>
      {{ end }}

    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}

    {{ if .Params.styleletter }}
    <div class="post-content">
      {{ .Content }}
    </div>
    {{ else }}
    <div >
      {{ .Content }}
    </div>
    {{ end }}

  </article>
</main>

{{ partial "sidebar.html" . }}
{{ end }}
