<article>
  <div class="summary-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </div>
  <div class="summary-subtext">
    <b><time> {{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }} </time></b>
    <div style="color: grey;"> {{ .WordCount }} words </div>
  </div>
  {{ range .Params.tags }}
  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"> {{ . }} </a>
  {{ end }}
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
